.nav {
    display: flex;
    justify-content: space-between;
}

.nav li {
    padding: .5em 1em;
}

#logo {
    padding-right: 5px;
}

#logo > svg {
    height: 20px;
}

#nav-profile {
    display: flex;
}

#alerts {
    position: absolute;
    top: 5em;
    right: 0;
    width: 20%;
}

#alerts > div {
    transition: height 1s ease-in-out, transform 1s ease-in-out;
    overflow: hidden;
}

#alerts > div > div {
    margin-bottom: 1em;
}

#alerts > div > div > h3 {
    margin: 0;
    padding: .5em 1em;
}

#alerts > div > div > p {
    margin: 0;
    padding: .5em 1em;
}

.alert-show {
    transform: translateX(100%);
}

.alert-hide {
    height: 0px !important;
}

#nav-profile > img {
    height: 1.5em;
    margin-right: .5em;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.nav-list li {
    list-style: none;
}

/*.nav-list li + li {
    margin-left: 1em;
}*/

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    overflow-x: hidden;
}

main {
    width: 80%;
    margin: 0 auto;
    flex: 1;
}

.center {
    display: flex;
    justify-content: center;
}

#login {
    margin-top: 1em;
    display: grid;
    padding: 1em 2em;
    width: 30%;
}

footer {
    padding: 0 .5em;
}

.dummy-footer {
    height: 5em;
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -2em;
}

/*#reimbursement {
    display: flex;
    justify-content: space-between;
}*/

.add-button {
    width: 2.5em;
    height: 2.5em;
    margin: auto 0;
    align-self: flex-end;
}

#expences > div {
    display: flex; 
    flex: 1; 
    justify-content: space-between; 
    padding: 0 1em;
}

#expences > table {
    width: 90%;
    margin: auto;
}

.row > * {
    margin: .5em 2em;
    flex: 1;
}

.row > .card {
    padding: 0 1em;
}

.form-item {
    grid-column: 1;
    display: grid;
}

form button {
    margin-top: 1em;
}

.form-item + .form-item {
    margin-top: 1em;
}

.form-item > input {
    margin: .25em 0;
}

#login-buttons {
    display: flex;
    justify-content: space-between;
}

form a {
    margin-top: 1em;
}

button + button {
    margin-left: .5em;
}

.btn {
    padding: .5em;
}

#image-drop {
    min-height: 10em;
    display: flex; 
    justify-content: center; 
    align-items: center;
    overflow-y: scroll;
    flex-wrap: wrap;
}

.drop {
    flex-direction: column;
}

.drop-img {
    width: 17%;
    height: 7em;
    padding: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .25em;
}

.drop-img > .dummy {
    /* margin-top: 100%; */
}

.drop-img > img {
    max-width: 100%;
    max-height: 100%;
}

.hidden {
    display: none;
}
  
.body-overflow {
    overflow: hidden;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    overflow-x: hidden;
}

.modal-wrapper.scroll {
    overflow-y: auto;
}

.overlay {
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.modal-content {
    width: 100%;
    height: 100vh;
    position: relative;
}

.modal-content-wrapper {
    display: flex;
    min-height: 100%;
    height: auto;
}

.modal {
    margin: auto;
}

.content {
    margin: 2rem;
    padding: 2rem;
    min-width: 500px;
    
    /* resizable */
    overflow: hidden;
}

#add-modal {
    width: 50%;
}

.form-buttons {
    width: 100%; 
    display: flex; 
    justify-content: flex-end;
}